.recipes {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-card {
    min-width: 300px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 1rem;
}


.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.recipe-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.recipe-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.recipe-category {
    background-color: #f0c040;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.recipe-desc {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.recipe-price {
    font-weight: bold;
    color: #28a745;
    font-size: 1rem;
}